.home{
  width: 100%;
  height: calc(100vh - 61.22px);
  /* background-color: black; */
  background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(28,40,117,1) 24%, rgba(5,23,73,1) 50%, rgba(6,16,102,1) 81%, rgba(0,27,51,1) 100%);
}
.home img{
  height: 507px !important;
  width: 100% !important;
}
.home h5{
  color:burlywood;
  font-size: 18pt;
}
.home p{
  font-weight: 500;
  color: burlywood;
}

@media screen and (max-width: 992px){
  .home{
    height: calc(100vh - 47px);
  }
}